@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: 100 1000;
}
@keyframes choice {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-price {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
@keyframes opacity-check {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader__page {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    border-top: 20px solid #9356DC;
    border-bottom: 20px solid #30A387;
  }
  25% {
    border-top: 20px solid #30A387;
    border-bottom: 20px solid #9356DC;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: rotate(180deg);
    border-top: 20px solid #30A387;
    border-bottom: 20px solid #9356DC;
  }
  75% {
    opacity: 0.1;
    border-top: 20px solid #9356DC;
    border-bottom: 20px solid #30A387;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    border-top: 20px solid #30A387;
    border-bottom: 20px solid #9356DC;
    opacity: 0;
  }
}
body {
  margin: 0;
}
body h1 {
  font-size: 22px;
}
body h2 {
  color: black;
}
body p {
  color: black;
}
body a {
  text-decoration: none;
}

.logo_page_acceuil {
  margin: 10px 0 10px 0;
}

.logo_page_menu {
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
  margin-left: 40px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header h1 {
  display: flex;
  justify-content: center;
}
header p {
  display: flex;
  justify-content: center;
}
header figure {
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}
header .lieu {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .lieu__p {
  margin-left: 10px;
}
header .fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .indication {
  background-color: #f6f6f6;
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .indication h1 {
  width: 220px;
  text-align: center;
  font-size: 22px;
}
header .indication .indication_info {
  width: 280px;
  text-align: center;
  font-size: 16px;
}
header .explorez {
  background: linear-gradient(#9356DC, purple);
  box-shadow: 2px 2px gray;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .explorez__p {
  color: white;
}
header .etapes {
  background-color: #f6f6f6;
  border-radius: 15px;
  width: 220px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
header .etapes__chiffre {
  padding: 7px 12px 7px 12px;
  background-color: #9356DC;
  border-radius: 15px;
  color: white;
  margin-left: -35px;
}
header .etapes i {
  padding: 0 10px;
}

.page_menus {
  border-radius: 10px 10px 0 0;
  margin: 15px 0 -17px 0;
  background-color: #eaeaea;
  padding-bottom: 25px;
}
.page_menus img {
  width: 91%;
  object-fit: cover;
  height: 250px;
  margin-left: 42px;
}

.titre_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.choix {
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  transition: transform 3s;
  overflow: hidden;
}
.choix h2 {
  margin: 0 10px 0 10px;
}
.choix .detail__menu {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}
.choix .prix:active {
  background-color: #99E2D0;
}
.choix.choix1 {
  animation: choice 700ms linear forwards;
}
.choix.choix2 {
  animation: choice 700ms 0.2s linear forwards;
}
.choix.choix3 {
  animation: choice 700ms 0.4s linear forwards;
}
.choix.choix4 {
  animation: choice 700ms 0.6s linear forwards;
}
.choix.choix5 {
  animation: choice 700ms 0.8s linear forwards;
}
.choix.choix6 {
  animation: choice 700ms 1s linear forwards;
}
.choix.choix7 {
  animation: choice 700ms 1.2s linear forwards;
}
.choix.choix8 {
  animation: choice 700ms 1.4s linear forwards;
}
.choix.choix9 {
  animation: choice 700ms 1.6s linear forwards;
}
.choix.choix10 {
  animation: choice 700ms 1.8s linear forwards;
}
.choix:hover .prix {
  animation: slide-price 500ms ease-in-out both;
}
.choix .check {
  display: flex;
  justify-content: center;
  right: 0%;
  top: 0;
  height: 100%;
  width: 50px;
  position: absolute;
  background-color: #99e2d0;
  opacity: 0;
  align-items: center;
}
.choix .check i {
  font-size: 160%;
  color: green;
}
.choix:hover .check {
  animation: opacity-check 500ms 100ms linear forwards;
}

.explorez_acceuil {
  background: linear-gradient(#9356DC, purple);
  box-shadow: 2px 2px gray;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}
.explorez_acceuil:hover {
  transition: background-color 1s;
  background: linear-gradient(#ae80e5, #b300b3);
  box-shadow: 3px 3px gray;
}

.explorez {
  background: linear-gradient(#9356DC, purple);
  box-shadow: 2px 2px gray;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 5px 0 5px 0;
  margin-bottom: -17px;
}
.restaurants img {
  width: 100%;
  object-fit: cover;
}
.restaurants .restaurant {
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}
.restaurants .restaurant__image {
  display: flex;
  overflow: hidden;
  height: 120px;
  flex-shrink: 0;
  min-width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurant__details--titre {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}
.restaurants .restaurant__details--description {
  margin: 0 15px 0 15px;
}

footer {
  background-color: #353535;
  padding-bottom: 10px;
  padding-left: 15px;
}
footer h3 {
  color: white;
  padding-top: 15px;
  font-size: 21px;
}
footer p {
  color: white;
}
footer .footer_icone i {
  color: white;
  display: flex;
}
footer .footer_icone p {
  color: white;
  margin-bottom: 0;
}

/* loader spinner */
.loader {
  font-family: "Shrikhand";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  background: linear-gradient(to bottom right, #ff79da, #9356dc, #99e2d0);
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: loader 2.5s 1.2s linear forwards;
}
.loader__page {
  border: 10px solid grey;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 20px solid #9356dc;
  border-bottom: 20px solid #ff79da;
  border-left: 20px solid #99e2d0;
  border-right: 20px solid #99e2d0;
  animation: loader__page 1.5s linear 1s forwards;
}
.loader__page p {
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* mobile et tablette */
@media screen and (max-width: 870px) {
  .logo_page_acceuil img {
    width: 50%;
  }

  .restaurant {
    width: 95%;
    margin-left: 10px;
  }

  .logo_page_menu a {
    margin-bottom: -15px;
    margin-right: 0px;
    margin-left: -25px;
  }
  .logo_page_menu img {
    height: 55%;
  }

  .figure {
    width: 111%;
    margin-left: -46px;
  }
  .figure img {
    border-radius: 0px 0px 30px 30px;
  }

  .titre_menu {
    margin: 0 10px 0 10px;
  }

  .E_P_D {
    margin-left: 10px;
  }

  .explorez {
    margin-left: 130px;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
