@import "./variables.scss";

body {
    // max-width: 400px;
    h2{
        color: black;
    }
    p{
        color: black;
    }
    a{
        text-decoration: none;
    }
    
}

.logo_page_menu{
    display: flex;
    justify-content: space-between;
    margin-right: 500px;
    margin-left: 40px;
}
header {
    a{
        @include logo;
    }
    h1{
        @include header_h1;
    }
    p{
        @include header_p;
    }
    figure{
        @include figure; 
    }
    

    .lieu{
        @include lieu;

        &__p{
            margin-left: 10px
        }
    }
    .indication{
        @include indication;
        padding: 20px 0 30px 0;
            h1{
                margin: 0 50px 20px 50px;
            }
            .indication_info{
                margin: 0 50px 20px 50px;
            }
    }
    .explorez{
        @include explorez;

        &__p{
            color: white;
        }

    }
    .etapes{
        @include etapes;
        
        &__chiffre{
            @include etapes_chiffre;
        }
        i{
            padding: 0 10px;
        }
    }
}

.page_menus{
    border-radius: 10px 10px 0 0;
    // margin-top: -20px;
    margin: 15px 0 -17px 0;
    background-color: #eaeaea;
    padding-bottom: 25px;

    img{
        width: 91%;
        object-fit: cover;
        height: 250px;
        margin-left: 42px;
    }
}
.titre_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.choix{
    @include figure;
    margin: 10px 10px 10px 10px;
    
    h2{
        margin: 0 10px 0 10px; 
    }
    .detail__menu{
        display: flex;
        justify-content: space-between;
        margin: 0 10px 0 10px;
    }

    .prix{
        &:active{
        background-color: $secondary_color;
        }
    }
} 
.explorez_acceuil{
    @include explorez;
    color: white;
    width: 50%;
    margin-left: 110px;
    
        
        &:hover{
            // transition-duration: 5s;
            background: linear-gradient(
                lighten($primary_color, 10%),
                lighten(purple, 10%) 
            );
            transition-duration: 5s;
            box-shadow: 3px 3px gray;
        }
}
.explorez{
    @include explorez;
    color: white;
}

.restaurants{
        background-color: $back-color;
        padding: 5px 0 5px 0;
        margin-bottom: -17px;

        img{
            width: 100%;
            object-fit: cover;
        }

    .restaurant{
        @include figure;

        &__image{
            display: flex;
            overflow: hidden;
            height: 120px;
            flex-shrink: 0;
            min-width: 100%;
            border-radius: 20px 20px 0 0;
        }
        &__details{

            &--titre{
                @include titre;
                }
            &--description{
                @include description;
                }
        }
    }
}

footer{
    background-color: #353535;
    padding-bottom: 10px;
    padding-left: 15px;
        
        h3{
        color: white;
        padding-top: 15px;
        font-size: 21px;
        
        }
        p{
            color: white;
        }

    .footer_icone{
        
        i{
            color:white;
            display: flex;
        }
        p{
            color: white;
            margin-bottom: 0;
        }
    }
}

/* mobile et tablette */
@media screen and (max-width: 870px) {

    body{
        margin: 0;
    }

    header{
        .explorez{
            margin-left: 100px;
        }
        .etapes{
            margin-left: 80px;
        }
    }
    
    .logo_page_acceuil{
        img{
            width: 50%;
        }
    }
    .restaurant{
        width: 95%;
        margin-left: 10px;
    }

    .logo_page_menu{
        a{
            margin-bottom: -15px;
            margin-right: 0px;
            margin-left: -25px;
        }
        img{
            height: 55%;
        }
    }
    .figure{
        width: 111%;
        margin-left: -46px;
            img{
                border-radius: 0px 0px 30px 30px;
            }
    }
    .titre_menu{
        margin: 0 10px 0 10px;
    }
    .E_P_D{
        margin-left: 10px;
    }

    .explorez{
        margin-left: 130px;
        margin-top: 30px;
    }
}